@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

.dark-mode {
    background-color: #070F2B !important;
    color: #fff !important;
}

.light-dark-mode {
    background-color: #1d2441 !important;
    color: #fff !important;
}

.wrapper-container {
    height: 90vh;
}

.search-box-container {
    border: 1px solid rgba(255, 255, 255, 0.514);
}

.search-box {
    border: none;
    outline: none;
    background-color: transparent;
}

.conversation-container {
    min-height: 70vh;
    height: 300px;
    overflow: scroll !important;
}

.conversation-container::-webkit-scrollbar {
    display: none;
}

.all-users-list::-webkit-scrollbar {
    display: none;
}

.create-group-scroll::-webkit-scrollbar {
    display: none;
}

.image-preview-container::-webkit-scrollbar {
    display: none;
}

.conversations {
    background-color: #ffffff;
    margin: 0 0 5px 0;
    cursor: pointer;
}

.conversations:hover {
    background-color: #f7f7f7;
    /* border-left: 2px solid orange; */
}

.conversations .image-container {
    height: 50px;
    width: 50px;
}

.conversations .image-container img {
    border-radius: 50%;
}

.welcome-screen {
    height: 85vh;
}

.welcome-image {
    width: 250px;
}


.chats-head {
    background-color: #ffffff;
}

.chats-head .image-container {
    height: 50px;
    width: 50px;
}

.chats-head .image-container img {
    border-radius: 50%;
}

.chat-area {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 60vh;
    overflow: auto;
    scroll-behavior: smooth;
}

.chat-area::-webkit-scrollbar {
    display: none;
}

.receiver {
    display: flex;
}

.sender {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.receiver .message {
    background-color: #37426e;
    color: #fff;
}

.sender .message {
    background-color: #376e6e;
    color: #fff;
}

.message {
    margin: 8px 0 0;
    padding: 5px 10px;
    word-wrap: break-word;
    max-width: 50vw;
    border-radius: 10px;
}

.receiver .name{
    color: orange;
}

.sender .name{
    color: #e3ff31;
}

.sender .message-time {
    float: right;
    font-size: 13px;
    color: gray;
}

.receiver .message-time {
    font-size: 13px;
    color: gray;
}

.message-author {
    background: rgb(192, 192, 192);
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 10px 0;
}

.send-messages {
    background-color: #fff;
    margin: 10px;
}

.login-image {
    height: 400px;
}

.login-container input {
    border: 1px solid rgb(214, 214, 214);
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    display: block;
    margin: 10px 0;
    width: 100%;
}

.btn-login {
    border: 1px solid rgb(214, 214, 214);
    padding: 5px 20px;
    margin: 8px 0px;
    border-radius: 5px;
    background: #6f5fc2;
    color: #fff;
    width: 100%;
}

.google-btn {
    border: 1px solid rgb(214, 214, 214);
    padding: 5px 20px;
    margin: 8px 0px;
    border-radius: 5px;
    color: #0a0a0a;
    width: 100%;
}

.login-container .right-side {
    background-color: #95adca;
}

.all-users-list {
    padding: 2px 4px;
    background: #f1f5f9;
}

:where(.css-dev-only-do-not-override-1ae8k9u).ant-radio-wrapper {
    width: 100%;
}

:where(.css-dev-only-do-not-override-1ae8k9u).ant-radio-wrapper span.ant-radio+* {
    width: 100% !important;
}

.create-group {
    background: #d8d8d8;
    padding: 1px 8px;
    border-radius: 8px;
    font-size: 13px;
    margin: 0 0 8px;
    color: cadetblue;
}

@media screen and (max-width: 600px) {
    .chat-open {
        display: none;
    }

    .hidden-right-side-mobile {
        display: none;
    }
}


.dark-modal.ant-modal .ant-modal-content {
    background-color: #070F2B;
}

.dark-modal.ant-modal .ant-modal-title {
    background-color: #070F2B;
    color: #fff;
}

.dark-modal .all-users-list {
    background-color: #1d2441;
}

.dark-modal .anticon svg {
    color: #fff;
}

.send-messages {
    position: relative;
}

.send-messages .emoji-container {
    background-color: #fff;
    position: absolute;
    bottom: 65px;
    right: 10px;
    width: 350px;
    height: 350px;
}

.send-messages .media-container {
    background-color: #fff;
    position: absolute;
    bottom: 65px;
    left: 10px;
    width: auto;
    height: auto;
    color: #6b6b6b;
    border-radius: 5px;
    padding: 10px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(130, 130, 130, 1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(130, 130, 130, 1);
    box-shadow: 1px 1px 5px 0px rgba(130, 130, 130, 1);
}

.send-messages .image-preview-container {
    background-color: #fff;
    position: absolute;
    bottom: 65px;
    right: 10px;
    width: auto;
    height: auto;
    border-radius: 5px;
    padding: 10px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(130, 130, 130, 1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(130, 130, 130, 1);
    box-shadow: 1px 1px 5px 0px rgba(130, 130, 130, 1);
}

.file-holder {
    padding: 0;
    background: none;
    border-radius: 0;
}

.file-holder img {
    border-radius: 8px;
}

.outlet-area {
    height: 84vh;
}